// ## METRICS ##
// 12-column/940px horizontal grid
$columnWidth:  40px;
$gutterWidth:  20px;

// All vertical measurements (line height, padding, margin) should
// be on a 6px measure
$baseFontSize: 13px;
$lineHeight:   18px;

@mixin widthForGridColumns($num:1, $adjust:0px){
  width: (($num * $columnWidth) + (($num - 1) * $gutterWidth)) + $adjust;
}

@mixin relativeFontSize($multiple:1, $adjust:3px){
  font-size: ($lineHeight * $multiple) - $adjust;
  line-height: ($lineHeight * $multiple);
}